################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DelegatesCSharp/FileContentIndex/56b18343-1bda-4cc1-91c8-2749efa93958.vsidx
/.vs/DelegatesCSharp/FileContentIndex/5c5110cf-26b6-49c4-82b4-3483febfeb1d.vsidx
/.vs/DelegatesCSharp/FileContentIndex/7f83da2d-fac7-4fc2-91de-d71947531334.vsidx
/.vs/DelegatesCSharp/FileContentIndex/f1cd0077-18ea-4449-90bf-f6e0e1ae3c9e.vsidx
/.vs/DelegatesCSharp/FileContentIndex/f5c47779-5744-4658-bb97-a882e6c25bac.vsidx
